html,
body {
    height: 100%;
}

body {
    @extend %dmsans-400;
    background-color: $white;
    color: $default;
    font-size: 16px;
    line-height: 1.65;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;

    &--sm {
        max-width: 1200px;
    }
}

.title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: $black-700;

    @include for-size(tablet-min) {
        font-size: 27px;
    }
}

.button {
    font-size: 15px;
    line-height: 1;
    padding: 20px 90px 20px 20px;
    @extend %rubik-500;

    @include for-size(tablet) {
        padding: 15px 70px 15px 15px;
    }

    @include for-size(tablet-min) {
        padding: 10px 50px 10px 10px;
    }
}
.details-btn{
     @extend %rubik-400;
     font-size: 15px;
     line-height: 2;
     padding: 10px;
     background-color: $title;
     color: $white;
     cursor: pointer;
     border: none;
     border-radius: 5px;
     border: 1px solid transparent;
     transition: all 0.5s;
}

.titles {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: $blue-700;
    margin-bottom: 20px;
    position: relative;
    
    &::after {
        content: '';
        position: absolute;
        width: 39px;
        height: 3px;
        top: 43%;
        margin-left: 16px;
        background-color: $title;
    }
}