@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    padding: 44px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
}

.logo {
    display: flex;
    align-items: center;
    font-size: 36px;
    line-height: 1.6;
    @extend %rubik-500;
    color: $accent;

    &__img {
        margin-right: 12px;
    }

}

.menu-nav {

    &__list {
        display: flex;
        margin-left: 140px;
    }

    &__list span {
        padding-left: 5px;
    }

    &__item+.menu-nav__item {
        padding-left: 35px;
    }

    &__link {
        @extend %rubik-500;
        font-size: 15px;
        line-height: 1;
        color: $accent;
        transition: color 0.5s;

        &:hover {
            color: #fcd7b6;
        }
    }

    &__link--active {
        color: #fcd7b6;
        border-bottom: 1px solid transparent;
    }
}

.user-nav {
    display: flex;
    height: 50px;

    &__menubar,
    &__search {
        width: 50px;
        border-radius: 50%;
        background-color: #edf1f4;
        display: flex;
        align-items: center;
        justify-content: center;
    }



    &__menubar {
        background-color: $title;
    }

    &__inner {
        background-image: url(../images/palka.png);
        background-repeat: no-repeat;
        background-position: center;
        min-width: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 17px;
        background-color: #fcd7b6;
        border-radius: 25px;

    }

    &__card,
    &__heart {
        display: flex;
        align-items: center;
        position: relative;

    }

    &__card {
        margin-left: 30px;
    }

    &__heart {
        margin-right: 30px;
    }

    &__heart-num,
    &__card-num {
        position: absolute;
        width: 16px;
        border-radius: 50%;
        background-color: #fff;
        top: -9px;
        right: -11px;
        font-size: 10px;
        color: $accent;
        text-align: center;
        line-height: 1.6;

    }



}

footer {
    color: $footer;
    @extend %rubik-400;
    font-size: 14px;
}

.footer-top {
    padding: 80px 0 75px 0;
    border-bottom: 1px solid #dae4e9;
    display: flex;

    &__link {
        margin-bottom: 15px;
        transition: color 0.3s;

        &:hover {
            color: #fcd7b6;
        }

    }

    &__logo {
        margin-bottom: 20px;
    }

    &__contact {
        width: 220px;
        margin-right: 100px;
    }

    &__nav {
        padding-top: 20px;
        width: 170px;
        margin-right: 115px;
    }

    &__item-form {
        padding-top: 20px;
        width: 270px;
    }

    &__adress {
        line-height: 24px;
    }

    &__phone {
        text-transform: uppercase;
    }

    &__name {
        margin-bottom: 25px;
        text-transform: uppercase;
        @extend %dmsans-700;
        font-size: 16px;
        line-height: 21px;
        color: #1f2044;
    }

    &__bottom {
        margin-bottom: 0;
    }

    &__last {
        margin-bottom: 30px;

        &:hover {
            color: $footer;
        }
    }

    &__form-input {
        color: #234969;
        max-width: 170px;
        width: 100%;
        background-color: #fef7f0;
        border: none;
        padding: 15px;
        outline: transparent;
        border: 1px solid transparent;

        &::placeholder {
            color: #234969;
        }

        &:focus {
            border: 1px solid #234969;
        }

    }

    &__form-btn {
        border: none;
        background-color: #a3bbc8;
        color: #fff;
        max-width: 95px;
        padding: 15px;
        border: 1px solid transparent;
        transition: border 0.5s;

        &:hover {
            border: 1px solid $accent;
        }

    }

}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;

    &__menu {
        display: flex;
    }

    &__list {
        transition: color 0.3s;

        &:hover {
            color: #fcd7b6;
        }

        &:after {
            content: '|';
            margin: 0 15px;
        }

        &:last-child:after {
            content: '';
            margin: 0;
        }

    }
}


.top-slider {
    &__inner {
        min-height: 820px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__item {
        min-height: 785px;
        position: relative;
    }

    &__text {
        max-width: 420px;
        position: absolute;
        top: 27%;
        right: 64%;
        transform: translateX(20%)
    }

    &__title {
        @extend %rubik-500;
        font-size: 72px;
        line-height: 1;
        color: #243f4d;
        margin-bottom: 30px
    }

    &__subtitle {
        max-width: 380px;
        @extend %rubik-400;
        font-size: 18px;
        line-height: 1.67;
        color: $accent;
        margin-bottom: 50px
    }

    &__btn {
        background-image: url(../images/shape-slider.svg);
        background-repeat: no-repeat;
        background-position: 160px;
        @extend %rubik-500;
        font-size: 15px;
        line-height: 1;
        color: #fff;
        padding: 24px 100px 20px 26px;
        background-color: #a3bbc8;
        outline: transparent;
        border: 1px solid transparent;
        transition: border 0.5s;

        &:hover {
            border: 1px solid $accent;
        }

    }

    &__img {
        position: absolute;
        top: 35%;
        right: 42%;
        transform: translateX(70%)
    }

    .slick-dots {
        position: absolute;
        display: flex;
        justify-content: center;
        bottom: 45px;
        left: 50%;
        right: 50%;

        li {
            margin-right: 10px;


            button {
                padding: 0;
                background-color: #fde3cc;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                @extend %rubik-400;
                font-size: 10px;
                border: none;
                outline: transparent;
                transition: transform .3s;
                cursor: pointer;
            }

            &.slick-active {
                button {
                    background-color: #fff;
                    transform: scale(1.1);
                }

            }
        }

    }

    &__service {
        display: grid;
        grid-template-columns: 570px 600px 600px;
    }

    &__about {
        background-repeat: no-repeat;
        background-position: 29% 40%;
        padding: 38px 0;
        background-color: #fef7f0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #e8e4df;

        &:last-child {
            border-right: none;
        }
    }

    &__payment,
    &__support {
        max-width: 205px;
        margin-left: 80px;
    }

    &__delivery {
        margin-left: 87px;
    }

    &__about-title {
        @extend %dmsans-700;
        font-size: 18px;
        line-height: 2.2;
    }

}


.products {
    padding-top: 60px;
    background: #fff;

    &__title {
        margin-bottom: 15px;
    }
}

.products-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;


    &__list:not(:last-child) {
        margin-right: 18px;

    }


    &__list--active {
        color: black;
    }

    &__btn {
        @extend %dmsans-700;
        color: #8b8b8b;
        border: none;
        background-color: transparent;
        outline: transparent;
        cursor: pointer;
        transition: color 0.5s;

        &:hover {
            color: #191919;
        }

        &--active {
            color: #191919;
        }

    }
}

.products-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
    margin-bottom: 170px;


    &__item {
        min-height: 380px;
        border-radius: 10px;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        padding: 32px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        &:hover .products-content__pointing {
            display: flex;

        }

    }

    &__image {
        margin-bottom: 46px;
    }

    &__subtitle {
        margin: auto 0;
        font-size: 16px;
        line-height: 2.5;
        color: #243f4d;
        margin-bottom: -7px;

    }

    &__price {
        color: #a3bbc8;
        font-size: 16px;
        @extend %dmsans-700;
        line-height: 2.5;
    }

    &__pointing {
        position: absolute;
        bottom: 150px;
        display: none;


    }

    &__element {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
        margin-right: 15px;
        border: transparent;
        outline: transparent;
        transition: all 0.5s;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: #a3bbc8;
            transform: scale(1.1);


            svg path {
                fill: #fff;

            }

        }


    }





}

.products-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;


    &__item {
        display: flex;
        justify-content: center;
        background-color: #feefe2;

    }

    &__img {
        margin: -89px 0 80px 0;

    }

    &__wrapper {
        max-width: 350px;
        padding-left: 12px;
        margin: auto 0;


    }

    &__title {
        @extend %dmsans-700;
        font-size: 26px;
        line-height: 1.2;
        color: #243f4d;
        margin-bottom: 20px;
    }

    &__text {
        @extend %rubik-400;
        line-height: 1.88;
        margin-bottom: 44px;
    }

    &__btn {
        background-image: url(../images/shape.svg);
        background-repeat: no-repeat;
        background-position: 141px;
        @extend %rubik-400;
        font-size: 15px;
        line-height: 1;
        color: #436372;
        padding: 20px 90px 20px 20px;
        border-radius: 5px;
        border: 1px solid rgb(67, 99, 114);
        transition: all 0.5s;

        &:hover {
            background-color: rgb(67, 99, 114);
            color: white;
        }


    }
}













@import 'media';