.articles {
   
    & .partners {
        padding: 260px 0 76px;
        margin-top: -170px;
    }

    &__title {
        color: $blue-100;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 31px;

        @include for-size(phone) {
            display: block;
            text-align: center;
        }
    }

    &__all {
        color: $blue-100;
        font-weight: 700;
        transition: color 0.5s;

        @include for-size(phone) {}


        & span {
            padding-left: 15px;
        }

        &:hover {
            color: $orange-500;
        }
    }

    &__items {
        display: flex;

        @include for-size(laptop) {
            justify-content: space-between;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__item {
         margin-right: 30px;

         &:last-child{
             margin-right: 0;
         }
        .aos-init{
            transition-delay: .2s;
        }

        

        @include for-size(laptop) {
            margin-bottom: 30px;
        }

        @include for-size(phone) {
            margin-right: 0;
        }
    }

}

