.breadcrumbs {
    display: flex;
    justify-content: center;

    &__item {
        @extend %rubik-400;
        font-size: 14px;
        line-height: 2;
        color: $blue-50;
        opacity: 0.6;

        &::after {
            content: '/';
            padding: 0 5px;
        }

        &:last-child {
            &::after {
                content: none;
            }
        }
    }

    &__link {
        transition: color 0.5s;

        &:hover {
            color: $accent;
        }

        &:active {
            color: $orange-500;
        }
    }

}