.content-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;

    &__item:not(:last-child) {
        margin-right: 18px;

        &--active {
            color: $black-700;
        }

        @include for-size(tablet-min) {
            margin-right: 0;
        }

    }

    &__btn {
        @extend %dmsans-700;
        color: $gray-400;
        border: transparent;
        background-color: transparent;
        cursor: pointer;
        transition: color 0.5s;

        &:focus {
            color: $title;
        }

        &:hover {
            color: $accent;
        }

        &:active {
            color: $black-700;
        }

        &--active {
            color: $black-700;
        }

    }
}