.footer {
    color: $footer;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 2.3;

    &__section {
        padding: 75px 0 64px 0;
        border-bottom: 1px solid $white-100;
        display: flex;

    }

    &__column {
        width: 230px;
        margin-right: 65px;

        &:last-child {
            margin-right: 0;
            width: 300px;
        }

        &:not(:nth-child(1)) {
            padding-top: 17px;
            padding-left: 8px;
        }
    }

    &__logo {
        display: block;
        margin-bottom: 22px;

    }

    &__data {
        display: block;
        line-height: 1.7;
        font-style: normal;
        margin-bottom: 13px;
        transition: color 0.5s;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            color: $orange-500;
        }

        &:active {
            color: $accent;
        }
    }

    &__title {
        text-transform: uppercase;
        @extend %dmsans-700;
        font-size: 16px;
        line-height: 2.3;
        color: $dblue;
        margin-bottom: 8px;
    }

    &__link {
        transition: color 0.3s;

        &:hover {
            color: $orange-500;
        }

        &:active {
            color: $accent;
        }

    }

    &__text {
        margin-bottom: 20px;
    }

    &__input {
        @extend %dmsans-400;
        font-size: 12px;
        color: $dblue-50;
        max-width: 170px;
        width: 100%;
        background-color: $orange-100;
        border: none;
        padding: 5px 15px;
        outline: transparent;
        border: 1px solid transparent;
        transition: all 0.5s;
        margin-right: -3px;

        &::placeholder {
            color: $dblue-50;
        }

        &:focus {
            border-color: $dblue-50;
            background-color: $title;
            color: $white;
        }

    }

    &__btn {
        font-size: 14px;
        line-height: 1.5;
        border: none;
        background-color: $title;
        color: $white;
        max-width: 100px;
        padding: 5px 15px;
        transition: background-color 0.5s, color 0.5s;
        cursor: pointer;

        &:hover {
            background-color: $orange-500;
        }

        &:active {
            color: $accent;
        }

        &:focus {
            background-color: $title;
            color: $accent;
        }

    }

    &__subsection {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
    }

    &__menu {
        display: flex;
    }

    &__element {
        transition: color 0.3s;

        &:after {
            content: '|';
            margin: 0 15px;
        }

        &:last-child:after {
            content: '';
            margin: 0;
        }

        &:hover {
            color: $orange-500;

            &:after {
                color: $footer;
            }
        }

        &:active {
            color: $accent;
        }

    }

}