.header {
    padding: 47px 0;

    @include for-size(tablet-min) {
        padding: 17px 0;
    }

}

.logo {
    max-width: 150px;
    height: 50px;

    &__img {
        @extend %fit;
    }
}


.menu-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        margin-right: 150px;

        @include for-size(laptop) {
            margin-right: 0;
        }
    }

    &__list {
        display: flex;

        span {
            padding-left: 5px;
        }

        @include for-size(tablet) {
            display: none;
        }

    }

    &__item {

        &:not(:last-child) {
            margin-right: 35px;

            @include for-size(laptop) {
                margin-right: 20px;
            }
        }
    }

    &__link {
        @extend %rubik-500;
        font-size: 15px;
        line-height: 1;
        color: $accent;
        transition: color 0.5s;

        &:hover {
            color: $orange-500;
        }

        &:active {
            color: $title;
        }

        &--active {
            color: $orange-500;

        }
    }

}

.menu-nav {
    display: flex;


    &__wrapper {
        display: flex;

        @include for-size(tablet-min) {
            display: none;
        }


        &:hover .menu-nav__input {
            width: 200px;
            padding: 0 20px;
        }

        &:hover .menu-nav__button {
            background-color: $orange-500;
        }
    }

    &__input {
        font-weight: 700;
        border-radius: 25px;
        border: black;
        outline: transparent;
        box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
        color: $dblue-50;
        transition: 1s;
        line-height: 2;
        width: 0;
        margin-right: -5px;

        &::placeholder {
            padding: 0 5px;
        }

        &:focus {
            background-color: $title;
        }
    }

    &__menu,
    &__button {
        width: 50px;
        border-radius: 50%;
        background-color: $search-bg;
        display: flex;
        align-items: center;
        justify-content: center;
        border: transparent;
        padding: 16px 0;
        margin-right: 17px;
        cursor: pointer;
        transition: background-color 0.5s;

        &:hover {
            background-color: $orange-500;
        }
    }

    &__button {
        & svg {
            fill: $blue-100;
        }

        &:active {
            background-color: $title;

            & svg {
                fill: $dblue;
            }
        }

        &:focus {
            background-color: $title;

            & svg {
                fill: $white;
            }
        }
    }

    &__menu {
        background-color: $title;
        margin: 0;


        & svg {
            fill: $white;
        }

        &:active {
            background-color: $white;

            & svg {
                fill: $title;
            }
        }

        &:focus {
            background-color: $orange-500;

            & svg {
                fill: $accent;
            }
        }

    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-right: 17px;

        @include for-size(phone) {
            display: none;
        }
    }

    &__items {
        width: 90px;
        background-color: $orange-500;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 0;
        position: relative;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        transition: background-color 0.5s;

        &::after {
            content: '|';
            position: absolute;
            width: 1px;
            height: 32px;
            color: transparent;
            background-color: $white;
            opacity: 0.4;
            right: 0;

        }

        &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;

            &::after {
                content: none;
            }

        }

        &:hover {
            background-color: $title;
        }

        &:active {
            background-color: $white;
        }
    }

    &__num {
        position: absolute;
        width: 16px;
        border-radius: 50%;
        background-color: $white;
        top: 9px;
        right: 26px;
        font-size: 10px;
        color: $accent;
        text-align: center;
    }

}


.menubar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 350px;
    width: 100%;
    background-color: $title;
    padding: 47px 20px;
    z-index: 999;
    transition: all 0.5s;

    &.menubar--close {
        transform: translateY(-200%);
    }

    &__list {
        display: flex;
        flex-direction: column;
        display: none;

        @include for-size(tablet) {
            display: block;
        }
    }

    &__close {
        background-color: $orange-500;
        border: transparent;
        float: right;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        margin-bottom: 30px;
        transition: all 0.5s;

        &:hover {
            background-color: $white;

            & svg {
                transition: all 0.5s;
                transform: scale(1.5);
            }
        }

        &:active {
            background-color: $accent;
        }

        &:focus {
            background-color: $white;
        }
    }

    &__item {
        margin-bottom: 5px;

    }

    &__link {
        display: inline-block;
        border-radius: 5px;
        width: 100%;
        padding: 5px;
        background-color: $white;
        transition: all 0.5s;

        &:hover {
            color: $orange-500;
            background-color: $accent;
            transform: translateX(-15px);
        }

        &:active {
            color: $accent;
            background-color: $orange-500;
        }

    }
}