.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %rubik-400;
    margin-bottom: 120px;
    @include for-size(phone){
         margin-bottom: 20px;
    }

    &__list {
        display: flex;
        flex-direction: row;
    }

    &__item {
        margin-right: 15px;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $blue-100;
        height: 50px;
        width: 50px;
        border: 1px solid $title;
        transition: background-color 0.5s, color 0.5s;

        &--active {
            color: $white;
            background-color: $title;
        }

        &:hover {
            background-color: $title;
            color: $white;
        }

        &:active {
            background-color: $orange-500;
        }

    }

    &__next {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $blue-100;
        height: 50px;
        width: 70px;
        text-transform: uppercase;
        border: 1px solid $title;
        transition: background-color 0.5s,  color 0.5s;

        &:hover {
            background-color: $title;
            color: $white;
        }

        &:active {
            background-color: $orange-500;
        }
    }
}