.partners {
    background-color: $orange-100;
    padding: 76px 0;
    
    @include for-size(phone){
        display: none;
    }

    &__item {
        display: flex !important;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 100px
    }

    & .slick-track {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}