.products {
    padding-top: 60px;
    background: $white;

    &__title {
        margin-bottom: 15px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px 30px;
        margin-bottom: 187px;
    }

    &__items {
        border-radius: 10px;
        box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
        padding: 20px;
    }
}

.products-links {
    display: flex;
    margin-bottom: 86px;

    &__item {
        width: 50%;
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }
}