.products {
    padding-top: 60px;
    background: $white;

    &__title {
        margin-bottom: 15px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px 30px;
        margin-bottom: 187px;

        @include for-size(laptop) {
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 120px;
        }

        @include for-size(tablet-min) {
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 60px;
        }

        @include for-size(phone) {
            grid-template-columns: repeat(1, 1fr);
             margin-bottom: 30px;
        }
    }

    &__items {
        border-radius: 10px;
        box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
        padding: 20px;
    }
}

.products-links {
    display: flex;
    margin-bottom: 86px;
      @include for-size(laptop) {
          flex-direction: column;
      }
         @include for-size(phone) {
                margin-bottom: 30px;
         }

    &__item {
        width: 50%;
        margin-right: 30px;
         @include for-size(laptop) {
             width: 100%;
             margin-right: 0;
             margin-bottom: 30px;
         }

        &:last-child {
            margin-right: 0;
        }
    }
}